@import "tailwindcss";

/* Generic grid layout utilities */
.grid {
  display: grid;
  gap: 9.6rem;
}

/* Grid with 2 columns */
.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* Grid with 3 columns */
.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}
